body{
 	
 	margin: 0;
 	padding: 0;
 	font-family: 'Playfair Display', serif;
 	color: #626262;
 }

/*header start*/
header{
	padding: 15px 0;
}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	float: left;
	width: 15%;
	margin-top: 8px;
}
.logo img{
	width: 100%;
}
.menu{
	float: right;
	width: 70%;
	
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 50px;
}
.menu ul li a:hover{
	font-size: 18px;
	color: #626262;
	transition: 0.5s;
}
.menu ul li:last-child a{
	padding-right: 0;
}

/*header end*/

/*banner start*/

.b_img img{
	width: 100%;
	padding-bottom: 94px;
}
/*banner end*/

/*Content starts*/
.wrapper{
	width: 85%;
	margin: 0 auto;
	overflow: hidden;	
}

.diary {
	padding: 70px 0 90px 0;
}
.diary small{
	font-size:15px;
	font-family: 'Ubuntu', sans-serif;
}

.diary h2{
	font-size: 30px;
}
.diary p{
	padding:30px 0 54px 0;
	text-align: justify-all;
}



.single_item{
	float: left;
	width: 47%;
	margin-top: 40px;	
}

.single_item img{
	width: 100%;
	margin-bottom: 27px;
}


.single_item small{
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
}


.single_item h3{
	font-size: 30px;
	padding: 28px 0 27px ;
}

.single_item p{
	text-align: justify;
	padding-bottom: 90px;
}


.single_item:nth-child(even){
 	margin-left: 65px;

} 

.single_item:nth-child(odd){
	padding-right: 0;
} 

/*content end*/

/*newsletter starts*/

.newsletter{
	background-color: #F0F0F0;
	padding: 70px 0 70px 0;
}

.signup{
	text-align: center;
}
 

.signup h1{
	font-size: 30px;
	font-weight: 400px;
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}

.s_form{
	position: relative;
	width: 400px;
	margin: 0 auto;
}

.s_form input{
	font-family: 'Playfair Display', serif;
	font-size: 14px;
 	color: #626262;
 	width: 345px;
 	height: 45px;
 	border: none;
 	border-bottom: 1px solid #626262;
 	padding-left: 5px;
 	padding-right: 45px; 
 	background: none;

}

.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background:transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}

.s_form button:focus{
	outline: 0;
}

/*newsletter end*/

/*Button starts*/

.button  {
	text-align: center;
	padding: 70px 0 90px 0;
}

.button button{
	font-family: 'Playfair Display', serif; 
	font-weight: 400;
	font-size: 20px;
	color: #626262;
	background: none;
	border: 1px solid #626262;
	cursor: pointer;
	width: 160px;
	height: 50px;

}

.button button:focus{
	outline: 0;
}

.button button:hover{
	background-color: #626262;
	color: white;
}

/*Button ends*/

/*Footer starts*/


.foot{
	background-color: #F0F0F0;
	padding: 41px 0 52px 0;
}

.private{
	float: left;
}

.private p{
	padding-left: 117px;
}

.private p:hover{
	color: #626262;
}

.icon{
	float: right;
}

.icon ul{
	float: right;
	padding-right: 117px;
}

.icon ul li{
	float: left;
	list-style: none;
}
.icon ul li i{
	padding: 0 12px 0 10px;
	color: #929292;
}

.icon ul li i:hover{
	color: #626262;
}

/*Footer ends*/



